<section id="about">
  <div class="container">
    <div class="row mt-5">
      <a class="nav-link js-scroll-trigger" href="#about">Acerca de mi</a>
      <div class="col">
        <div class="col" *ngFor="let profile of $profile | async">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{profile.downloadUrl}}" alt="{{profile.firstName}} {{profile.lastName}}">
            <div class="card-body">
              <h5 class="card-title">{{profile.firstName}} {{profile.lastName}}</h5>
              <p class="card-text">{{profile.jobTitle}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{profile.jobTitle}} at {{profile.company}}</li>
      <!--         <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li> -->
            </ul>
            <div class="card-body">
              <h1>{{profile.startYear}}</h1>
            </div>

            <div  class="">  
                <h1>About Me</h1>
            </div>  
             <hr/>
             
             <div>
              <p>{{profile.aboutMe}}</p>
            </div>


        </div>
      </div>
    </div>

  </div>
</div>
</section>