<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h6>Proyectos/Projects</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="list-group" *ngFor="let project of $projects | async ; index as i">
          <img class="avatar" src="{{project.projectIconUrl}}">
          <div class="content">
            <a class="header" href="{{project.projectUrl}}">{{project.projectName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>