
@import url(~../node_modules/font-awesome/css/font-awesome.min.css);
 
 html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
}

:root{
   --img: url("assets/quitonocturno.jpg");

}


 body {
     background:var(--img) no-repeat center fixed ;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;   
  }




  .givingblur::before {
    content: '';
    background: url('assets/quitonocturno.jpg') 0 0 / cover fixed no-repeat;
    filter: blur(2px);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    opacity:0.5;
}

.givingblur {

    // border-radius: 5px;
    // box-shadow: 0 0 15px rgba(black, .4);
    // border: 1px solid rgba(white, .1);
    color: white;
    font: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 2px 8px rgba(black, .5);
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}




  section {
    padding: 20px 0;
    width: 100%;
  }





#skills{
  padding: 10px 0;
}
  .hexagon {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #aaff80;
     margin:auto;
     box-shadow: 5px 5px 5px grey;
     padding-top: 5%;
}
  
// .faArrowIcon {
//   position:relative;
// }

// .faArrowIcon:before {
//   font-family: FontAwesome; 
//   margin-left: 30%;
//   margin-top: 100 px;
//   color: white;
//   font-size: 50px;
//   content: "\f2dd"; 
// }



// .faCubeIcon {
//   position:relative;
// }

// .faCubeIcon:before {
//   font-family: FontAwesome; 
//   margin-left: 30%;
//   margin-top: 100 px;
//   color: white;
//   font-size: 50px;
//   content: "\f2b8 "; 
// }



// .faChipIcon {
//   position:relative;
// }

// .faChipIcon:before {
//   font-family: FontAwesome; 
//   margin-left: 30%;
//   margin-top: 100 px;
//   color: white;
//   font-size: 50px;
//   content: "\f2db"; 
// }

// .faMobileIcon {
//   position:relative;
// }

// .faMobileIcon:before {
//   font-family: FontAwesome; 
//   margin-left: 35%;
//   color: white;
//   font-size: 70px;
//   content: "\f10b"; 
// }

// .protienda{
// background-color: darkturquoise;

// }


// .probanco{
//   background-color:aquamarine;
// }